In [19]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
from scipy.stats import linregress

In [45]:
athlete_data_to_load = 'raw data files/Olympic data/athlete_events.csv'
summer_data_to_load = 'raw data files/Olympic data/summer.csv'
winter_data_to_load = 'raw data files/Olympic data/winter.csv'

athlete_data = pd.read_csv(athlete_data_to_load)
summer_data = pd.read_csv(summer_data_to_load)
winter_data = pd.read_csv(summer_data_to_load)

In [46]:
Population_data_to_load = 'raw data files/Olympic data/Population by Olympic year.csv'
Total_Medal_data_to_load = 'raw data files/Olympic data/Total Medal Count.csv'
GDP_data_to_load = 'raw data files/Olympic data/GDP by Olympic year.csv'
Population_data = pd.read_csv(Population_data_to_load, encoding='utf-8')
Medal_data = pd.read_csv(Total_Medal_data_to_load, encoding='utf-8')
GDP_data = pd.read_csv(GDP_data_to_load, encoding='utf-8')

In [47]:
Medal_Pop = Medal_data.merge(Population_data, left_on='Country Code', right_on='Country Code', how='outer')
Medal_Pop_GDP = Medal_Pop.merge(GDP_data, left_on='Country Code', right_on='Country Code', how='outer')

In [48]:
renamed_df = Medal_Pop_GDP.rename(columns={'Country': 'Country', 'Country Code':'Country Code', 'Summer':'Gold S', 
                                           'Summer.1':'Silver S','Summer.2':'Bronze S', 'Summer.3':'Total Summer',
                                           'Winter':'Gold W', 'Winter.1':'Silver W', 'Winter.2':'Bronze W', 
                                           'Winter.3': 'Total Winter', 'Combined':'Gold', 'Combined.1':'Silver',
                                           'Combined.2':'Bronze', 'Combined.3':'Total Medals', 'Population':'Population',
                                           'GDP':'GDP', 'Country Name_x':'Country Name Pop',
                                           '1960 [YR1960]_x':'1960 POP', '1964 [YR1964]_x': '1964 POP',
                                           '1972 [YR1972]_x':'1972 POP', '1976 [YR1976]_x': '1976 POP',
                                           '1980 [YR1980]_x':'1980 POP', '1984 [YR1984]_x': '1984 POP', 
                                           '1988 [YR1988]_x':'1988 POP', '1992 [YR1992]_x': '1992 POP',
                                           '1994 [YR1994]_x':'1994 POP', '1996 [YR1996]_x': '1996 POP', 
                                           '1998 [YR1998]_x':'1998 POP', '2000 [YR2000]_x': '2000 POP', 
                                           '2002 [YR2002]_x':'2002 POP', '2004 [YR2004]_x': '2004 POP',
                                           '2006 [YR2006]_x':'2006 POP', '2008 [YR2008]_x': '2008 POP', 
                                           '2010 [YR2010]_x':'2010 POP', '2012 [YR2012]_x': '2012 POP', 
                                           '2014 [YR2014]_x':'2014 POP', '2016 [YR2016]_x': '2016 POP',
                                           '2018 [YR2018]_x':'2018 POP', 'Country Name_y' : 'Country Name GDP',
                                           '1960 [YR1960]_y':'1960 GDP', '1964 [YR1964]_y': '1964 GDP',
                                           '1968 [YR1968]_y':'1968 GDP', '1972 [YR1972]_y': '1972 GDP',
                                           '1976 [YR1976]_y':'1976 GDP', '1980 [YR1980]_y': '1980 GDP', 
                                           '1984 [YR1984]_y':'1984 GDP', '1988 [YR1988]_y': '1988 GDP', 
                                           '1992 [YR1992]_y':'1992 GDP', '1994 [YR1994]_y': '1994 GDP',
                                           '1996 [YR1996]_y':'1996 GDP', '1998 [YR1998]_y': '1998 GDP', 
                                           '2000 [YR2000]_y':'2000 GDP', '2002 [YR2002]_y': '2002 GDP', 
                                           '2004 [YR2004]_y':'2004 GDP', '2006 [YR2006]_y': '2006 GDP',
                                           '2008 [YR2008]_y':'2008 GDP', '2010 [YR2010]_y': '2010 GDP',
                                           '2012 [YR2012]_y':'2012 GDP', '2014 [YR2014]_y': '2014 GDP', 
                                           '2016 [YR2016]_y': '2016 GDP','2018 [YR2018]_y': '2018 GDP'})
renamed_df

,Country,Country Code,Gold S,Silver S,Bronze S,Total Summer,Gold W,Silver W,Bronze W,Total Winter,...,2000 GDP,2002 GDP,2004 GDP,2006 GDP,2008 GDP,2010 GDP,2012 GDP,2014 GDP,2016 GDP,2018 GDP
0,Country,Country Code,Gold,Silver,Bronze,Total,Gold,Silver,Bronze,Total,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,0,0,2,2,0,0,0,0,...,..,4055176933.00,5226775163.00,6971286732.00,10109218068.00,15856574731.00,20001615789.00,20484873230.00,19362642267.00,19362969582.00
2,Algeria,ALG,5,4,8,17,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,ARG,21,25,28,74,0,0,0,0,...,284000000000.00,97724004252.00,165000000000.00,233000000000.00,362000000000.00,424000000000.00,546000000000.00,526000000000.00,558000000000.00,518000000000.00
4,Armenia,ARM,2,6,6,14,0,0,0,0,...,1911563665.00,2376335048.00,3576615240.00,6384451606.00,11662040714.00,9260284938.00,10619320049.00,11609512940.00,10546135160.00,12433089919.00
5,Australasia,ANZ,3,4,5,12,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Australia,AUS,147,163,187,497,5,5,5,15,...,415000000000.00,395000000000.00,612000000000.00,746000000000.00,1050000000000.00,1150000000000.00,1550000000000.00,1470000000000.00,1210000000000.00,1430000000000.00
7,Austria,AUT,18,33,36,87,64,81,87,232,...,197000000000.00,213000000000.00,301000000000.00,336000000000.00,430000000000.00,392000000000.00,409000000000.00,442000000000.00,394000000000.00,456000000000.00
8,Azerbaijan,AZE,7,11,24,42,0,0,0,0,...,5272617196.00,6235856820.00,8680370408.00,20982986344.00,48852482960.00,52902703376.00,69683935845.00,75244294275.00,37867518957.00,46939529412.00
9,Bahamas,BAH,6,2,6,14,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Bahrain,BRN,2,1,0,3,0,0,0,0,...,6001153306.00,5843329108.00,7872333215.00,11470703002.00,14393099069.00,13707370737.00,19048495519.00,17098342541.00,11400653949.00,13567099498.00
11,Barbados,BAR,0,0,1,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Belarus,BLR,12,27,39,78,8,5,5,18,...,12736856828.00,14594249023.00,23144351852.00,36954312354.00,60763483146.00,58665088956.00,65685102555.00,78813839984.00,47722657821.00,59662495092.00
13,Belgium,BEL,40,53,55,148,1,2,3,6,...,238000000000.00,259000000000.00,371000000000.00,410000000000.00,519000000000.00,484000000000.00,498000000000.00,531000000000.00,470000000000.00,532000000000.00
14,Bermuda,BER,0,0,1,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Bohemia,BOH,0,1,3,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Botswana,BOT,0,1,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Brazil,BRA,30,36,63,129,0,0,0,0,...,655000000000.00,508000000000.00,669000000000.00,1110000000000.00,1700000000000.00,2210000000000.00,2470000000000.00,2460000000000.00,1800000000000.00,1870000000000.00
18,British West Indies,BWI,0,0,2,2,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Bulgaria,BUL,51,87,80,218,1,2,3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Burundi,BDI,1,1,0,2,0,0,0,0,...,870486065.90,825394490.20,915257323.40,1273375020.00,1611835902.00,2032135247.00,2333308099.00,2705783272.00,2959185295.00,3078029929.00
21,Cameroon,CMR,3,1,2,6,0,0,0,0,...,10083937740.00,11579343088.00,17430933517.00,19356046328.00,26409781215.00,26143818510.00,29104437355.00,34942948737.00,32621535419.00,38502059858.00
22,Canada,CAN,64,102,136,302,73,64,62,199,...,742000000000.00,758000000000.00,1020000000000.00,1320000000000.00,1550000000000.00,1610000000000.00,1820000000000.00,1800000000000.00,1530000000000.00,1710000000000.00
23,Chile,CHI,2,7,4,13,0,0,0,0,...,6439703435.00,6663669065.00,8553643354.00,9676172953.00,..,..,..,..,..,..
24,China,CHN,224,167,155,546,13,28,21,62,...,1210000000000.00,1470000000000.00,1960000000000.00,2750000000000.00,4590000000000.00,6090000000000.00,8530000000000.00,10400000000000.00,11100000000000.00,13600000000000.00
25,Colombia,COL,5,9,14,28,0,0,0,0,...,99886577331.00,97963003805.00,117000000000.00,161000000000.00,242000000000.00,286000000000.00,371000000000.00,381000000000.00,283000000000.00,330000000000.00
26,Costa Rica,CRC,1,1,2,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Ivory Coast,CIV,1,1,1,3,0,0,0,0,...,10717022463.00,12346919152.00,16554441555.00,17800887469.00,24224905504.00,24884503951.00,26790577891.00,35316494574.00,35296979104.00,43007045466.00
28,Croatia,CRO,11,10,12,33,4,6,1,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Cuba,CUB,78,68,80,226,0,0,0,0,...,30565400000.00,33590500000.00,38203000000.00,52742800000.00,60806300000.00,64328000000.00,73141000000.00,80656000000.00,91370000000.00,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,NaN,IDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201000000000.00,223000000000.00,306000000000.00,474000000000.00,652000000000.00,711000000000.00,904000000000.00,1080000000000.00,950000000000.00,991000000000.00
303,NaN,IDX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,258000000000.00,267000000000.00,340000000000.00,444000000000.00,642000000000.00,749000000000.00,886000000000.00,1060000000000.00,1100000000000.00,1220000000000.00
304,NaN,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,460000000000.00,491000000000.00,649000000000.00,924000000000.00,1300000000000.00,1470000000000.00,1800000000000.00,2150000000000.00,2050000000000.00,2210000000000.00
305,NaN,LTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3400000000000.00,3720000000000.00,5100000000000.00,7440000000000.00,11700000000000.00,13500000000000.00,17600000000000.00,19700000000000.00,18400000000000.00,22200000000000.00
306,NaN,LCN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2290000000000.00,2010000000000.00,2360000000000.00,3350000000000.00,4590000000000.00,5350000000000.00,6140000000000.00,6420000000000.00,5390000000000.00,5790000000000.00
307,NaN,LAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2080000000000.00,1810000000000.00,2120000000000.00,3020000000000.00,4200000000000.00,4900000000000.00,5620000000000.00,5880000000000.00,4860000000000.00,5190000000000.00
308,NaN,TLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2170000000000.00,1880000000000.00,2220000000000.00,3180000000000.00,4400000000000.00,5150000000000.00,5940000000000.00,6200000000000.00,5150000000000.00,5560000000000.00
309,NaN,LDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,213000000000.00,220000000000.00,287000000000.00,395000000000.00,587000000000.00,673000000000.00,825000000000.00,970000000000.00,960000000000.00,1050000000000.00
310,NaN,LMY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5990000000000.00,6180000000000.00,8270000000000.00,11700000000000.00,17500000000000.00,20700000000000.00,26100000000000.00,28700000000000.00,27300000000000.00,31700000000000.00
311,NaN,LIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,138000000000.00,138000000000.00,172000000000.00,222000000000.00,327000000000.00,368000000000.00,445000000000.00,524000000000.00,494000000000.00,572000000000.00
312,NaN,LMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1290000000000.00,1410000000000.00,1860000000000.00,2590000000000.00,3560000000000.00,4460000000000.00,5290000000000.00,5830000000000.00,6020000000000.00,6710000000000.00
313,NaN,MEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,967000000000.00,967000000000.00,1270000000000.00,1790000000000.00,2650000000000.00,2770000000000.00,3580000000000.00,3570000000000.00,3150000000000.00,3620000000000.00
314,NaN,MNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,452000000000.00,454000000000.00,593000000000.00,812000000000.00,1240000000000.00,1380000000000.00,1730000000000.00,1600000000000.00,1450000000000.00,..
315,NaN,TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,447000000000.00,450000000000.00,589000000000.00,807000000000.00,1230000000000.00,1370000000000.00,1720000000000.00,1590000000000.00,1440000000000.00,..
316,NaN,MIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5850000000000.00,6050000000000.00,8100000000000.00,11500000000000.00,17100000000000.00,20300000000000.00,25600000000000.00,28100000000000.00,26800000000000.00,31100000000000.00
317,NaN,NAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11000000000000.00,11700000000000.00,13200000000000.00,15100000000000.00,16300000000000.00,16600000000000.00,18000000000000.00,19300000000000.00,20200000000000.00,22200000000000.00
318,NaN,INX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,..,..,..,..,..,..,..,..,..,..
319,NaN,OED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27400000000000.00,28300000000000.00,35300000000000.00,39300000000000.00,45600000000000.00,44700000000000.00,48000000000000.00,49600000000000.00,47800000000000.00,52600000000000.00
320,NaN,OSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91704697250.00,98342776279.00,152000000000.00,217000000000.00,326000000000.00,325000000000.00,421000000000.00,449000000000.00,366000000000.00,452000000000.00
321,NaN,PSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3444110965.00,3545570346.00,4792905779.00,5538564572.00,6556133688.00,6416533301.00,8148861957.00,9174063771.00,9280440562.00,10302802236.00
322,NaN,PST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26300000000000.00,27100000000000.00,33800000000000.00,37500000000000.00,43200000000000.00,42500000000000.00,45500000000000.00,46900000000000.00,45400000000000.00,50000000000000.00
323,NaN,PRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,241000000000.00,283000000000.00,394000000000.00,624000000000.00,951000000000.00,1010000000000.00,1310000000000.00,1530000000000.00,1220000000000.00,1310000000000.00
324,NaN,SST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129000000000.00,139000000000.00,200000000000.00,277000000000.00,402000000000.00,394000000000.00,500000000000.00,531000000000.00,443000000000.00,536000000000.00
325,NaN,SAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,622000000000.00,670000000000.00,907000000000.00,1200000000000.00,1530000000000.00,2060000000000.00,2300000000000.00,2580000000000.00,2920000000000.00,3460000000000.00
326,NaN,TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,622000000000.00,670000000000.00,907000000000.00,1200000000000.00,1530000000000.00,2060000000000.00,2300000000000.00,2580000000000.00,2920000000000.00,3460000000000.00
327,NaN,SSF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,397000000000.00,412000000000.00,644000000000.00,909000000000.00,1210000000000.00,1370000000000.00,1640000000000.00,1830000000000.00,1550000000000.00,1700000000000.00
328,NaN,SSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,396000000000.00,412000000000.00,643000000000.00,908000000000.00,1210000000000.00,1370000000000.00,1630000000000.00,1830000000000.00,1540000000000.00,1700000000000.00
329,NaN,TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,397000000000.00,412000000000.00,644000000000.00,909000000000.00,1210000000000.00,1370000000000.00,1640000000000.00,1830000000000.00,1550000000000.00,1700000000000.00
330,NaN,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4560000000000.00,4630000000000.00,6240000000000.00,8930000000000.00,13600000000000.00,15900000000000.00,20300000000000.00,22300000000000.00,20700000000000.00,24400000000000.00
331,NaN,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33600000000000.00,34700000000000.00,43800000000000.00,51400000000000.00,63600000000000.00,66000000000000.00,75000000000000.00,79300000000000.00,76100000000000.00,85800000000000.00

In [50]:
removed_MPG = renamed_df[["Country", "Country Code","Gold", "Silver","Bronze","Total Medals","2018 POP","2018 GDP" ]]
removed_MPG = removed_MPG.fillna(value ={'2018 POP': -1})
removed_MPG = removed_MPG.fillna(value ={'2018 GDP': -1})
removed_MPG ["2018 GDP"]= removed_MPG ["2018 GDP"].replace('..',-2) 
removed_MPG ["2018 POP"]= removed_MPG ["2018 POP"].replace('..',-2) 


MPG = removed_MPG.loc[1:]
MPG = MPG.dropna()

In [51]:
MPG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1 to 152
Data columns (total 8 columns):
Country         152 non-null object
Country Code    152 non-null object
Gold            152 non-null object
Silver          152 non-null object
Bronze          152 non-null object
Total Medals    152 non-null object
2018 POP        152 non-null object
2018 GDP        152 non-null object
dtypes: object(8)
memory usage: 10.7+ KB

In [52]:
MPG = MPG.astype({"Gold":'float', "Silver":'float', "Bronze":'float', "Total Medals":'float',"2018 POP":'float'
                  ,"2018 GDP":'float'})
MPG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1 to 152
Data columns (total 8 columns):
Country         152 non-null object
Country Code    152 non-null object
Gold            152 non-null float64
Silver          152 non-null float64
Bronze          152 non-null float64
Total Medals    152 non-null float64
2018 POP        152 non-null float64
2018 GDP        152 non-null float64
dtypes: float64(6), object(2)
memory usage: 10.7+ KB

In [53]:
MPG.head()

,Country,Country Code,Gold,Silver,Bronze,Total Medals,2018 POP,2018 GDP
1,Afghanistan,AFG,0.0,0.0,2.0,2.0,37172386.0,1.936297e+10
2,Algeria,ALG,5.0,4.0,8.0,17.0,-1.0,-1.000000e+00
3,Argentina,ARG,21.0,25.0,28.0,74.0,44494502.0,5.180000e+11
4,Armenia,ARM,2.0,6.0,6.0,14.0,2951776.0,1.243309e+10
5,Australasia,ANZ,3.0,4.0,5.0,12.0,-1.0,-1.000000e+00

In [54]:
gold_per = MPG.groupby('Country Code').sum()['Gold']
silver_per = MPG.groupby('Country Code').sum()['Silver']
medals = MPG.groupby('Country Code').sum()['Total Medals']

In [55]:
per_gold = gold_per/medals
per_silver = silver_per/medals

In [57]:
# first define the ratios
Gold = per_gold     # 50%
Silver = per_silver  # 30%

# define some sizes of the scatter marker
sizes = np.array([100])

# calculate the points of the first pie marker
#
# these are just the origin (0,0) +
# some points on a circle cos,sin
x = MPG['Country Code']
y = MPG['2018 POP']
xy1 = np.column_stack([x, y])
s1 = np.abs(xy1).max()

#x = [0] + np.cos(np.linspace(2 * np.pi * r1, 2 * np.pi * r2, 10)).tolist()
#y = [0] + np.sin(np.linspace(2 * np.pi * r1, 2 * np.pi * r2, 10)).tolist()
#xy2 = np.column_stack([x, y])
#s2 = np.abs(xy2).max()

#x = [0] + np.cos(np.linspace(2 * np.pi * r2, 2 * np.pi, 10)).tolist()
#y = [0] + np.sin(np.linspace(2 * np.pi * r2, 2 * np.pi, 10)).tolist()
#xy3 = np.column_stack([x, y])
#s3 = np.abs(xy3).max()
plt.scatter(x,y)
#fig,
ax = plt.subplots()
ax.scatter(range(3), range(3), marker=xy1,
           s=s1 ** 2 * sizes, facecolor='blue')
#ax.scatter(range(3), range(3), marker=xy2,
#           s=s2 ** 2 * sizes, facecolor='green')
#ax.scatter(range(3), range(3), marker=xy3,
#           s=s3 ** 2 * sizes, facecolor='red')

plt.show()

TypeError: bad operand type for abs(): 'str'

In [ ]:
summer_data_removed = summer_data[['Year','City','Country','Medal']]
winter_data_removed = winter_data[['Year','City','Country','Medal']]

In [ ]:
yearly_summer_medals60 = summer_data_removed.loc[summer_data_removed['Year']==1960].groupby('Country').count()['Medal']
yearly_summer_medals64 = summer_data_removed.loc[summer_data_removed['Year']==1964].groupby('Country').count()['Medal']
yearly_summer_medals68 = summer_data_removed.loc[summer_data_removed['Year']==1968].groupby('Country').count()['Medal']
yearly_summer_medals72 = summer_data_removed.loc[summer_data_removed['Year']==1972].groupby('Country').count()['Medal']
yearly_summer_medals76 = summer_data_removed.loc[summer_data_removed['Year']==1976].groupby('Country').count()['Medal']
yearly_summer_medals80 = summer_data_removed.loc[summer_data_removed['Year']==1980].groupby('Country').count()['Medal']
yearly_summer_medals84 = summer_data_removed.loc[summer_data_removed['Year']==1984].groupby('Country').count()['Medal']
yearly_summer_medals88 = summer_data_removed.loc[summer_data_removed['Year']==1988].groupby('Country').count()['Medal']
yearly_summer_medals92 = summer_data_removed.loc[summer_data_removed['Year']==1992].groupby('Country').count()['Medal']
yearly_summer_medals94 = summer_data_removed.loc[summer_data_removed['Year']==1994].groupby('Country').count()['Medal']
yearly_summer_medals96 = summer_data_removed.loc[summer_data_removed['Year']==1998].groupby('Country').count()['Medal']
yearly_summer_medals98 = summer_data_removed.loc[summer_data_removed['Year']==2000].groupby('Country').count()['Medal']
yearly_summer_medals00 = summer_data_removed.loc[summer_data_removed['Year']==2002].groupby('Country').count()['Medal']
yearly_summer_medals02 = summer_data_removed.loc[summer_data_removed['Year']==2004].groupby('Country').count()['Medal']
yearly_summer_medals04 = summer_data_removed.loc[summer_data_removed['Year']==2006].groupby('Country').count()['Medal']
yearly_summer_medals06 = summer_data_removed.loc[summer_data_removed['Year']==2008].groupby('Country').count()['Medal']
yearly_summer_medals08 = summer_data_removed.loc[summer_data_removed['Year']==2010].groupby('Country').count()['Medal']
yearly_summer_medals10 = summer_data_removed.loc[summer_data_removed['Year']==2012].groupby('Country').count()['Medal']
yearly_summer_medals12 = summer_data_removed.loc[summer_data_removed['Year']==2014].groupby('Country').count()['Medal']
yearly_summer_medals14 = summer_data_removed.loc[summer_data_removed['Year']==2016].groupby('Country').count()['Medal']
yearly_summer_medals16 = summer_data_removed.loc[winter_data_removed['Year']==2018].groupby('Country').count()['Medal']
yearly_summer_medals18 = summer_data_removed.loc[summer_data_removed['Year']==2018].groupby('Country').count()['Medal']

yearly_winter_medals60 = winter_data_removed.loc[winter_data_removed['Year']==1960].groupby('Country').count()['Medal']
yearly_winter_medals64 = winter_data_removed.loc[winter_data_removed['Year']==1964].groupby('Country').count()['Medal']
yearly_winter_medals68 = winter_data_removed.loc[winter_data_removed['Year']==1968].groupby('Country').count()['Medal']
yearly_winter_medals72 = winter_data_removed.loc[winter_data_removed['Year']==1972].groupby('Country').count()['Medal']
yearly_winter_medals76 = winter_data_removed.loc[winter_data_removed['Year']==1976].groupby('Country').count()['Medal']
yearly_winter_medals80 = winter_data_removed.loc[winter_data_removed['Year']==1980].groupby('Country').count()['Medal']
yearly_winter_medals84 = winter_data_removed.loc[winter_data_removed['Year']==1984].groupby('Country').count()['Medal']
yearly_winter_medals88 = winter_data_removed.loc[winter_data_removed['Year']==1988].groupby('Country').count()['Medal']
yearly_winter_medals92 = winter_data_removed.loc[winter_data_removed['Year']==1992].groupby('Country').count()['Medal']
yearly_winter_medals94 = winter_data_removed.loc[winter_data_removed['Year']==1994].groupby('Country').count()['Medal']
yearly_winter_medals96 = winter_data_removed.loc[winter_data_removed['Year']==1998].groupby('Country').count()['Medal']
yearly_winter_medals98 = winter_data_removed.loc[winter_data_removed['Year']==2000].groupby('Country').count()['Medal']
yearly_winter_medals00 = winter_data_removed.loc[winter_data_removed['Year']==2002].groupby('Country').count()['Medal']
yearly_winter_medals02 = winter_data_removed.loc[winter_data_removed['Year']==2004].groupby('Country').count()['Medal']
yearly_winter_medals04 = winter_data_removed.loc[winter_data_removed['Year']==2006].groupby('Country').count()['Medal']
yearly_winter_medals06 = winter_data_removed.loc[winter_data_removed['Year']==2008].groupby('Country').count()['Medal']
yearly_winter_medals08 = winter_data_removed.loc[winter_data_removed['Year']==2010].groupby('Country').count()['Medal']
yearly_winter_medals10 = winter_data_removed.loc[winter_data_removed['Year']==2012].groupby('Country').count()['Medal']
yearly_winter_medals12 = winter_data_removed.loc[winter_data_removed['Year']==2014].groupby('Country').count()['Medal']
yearly_winter_medals14 = winter_data_removed.loc[winter_data_removed['Year']==2016].groupby('Country').count()['Medal']
yearly_winter_medals16 = winter_data_removed.loc[winter_data_removed['Year']==2018].groupby('Country').count()['Medal']
yearly_winter_medals18 = winter_data_removed.loc[winter_data_removed['Year']==2018].groupby('Country').count()['Medal']

In [ ]:
yearly_winter_medals = winter_data_removed.groupby(['Year','Country']).count()['Medal']
yearly_winter_medals

In [ ]:
summer_data.head()